---
# Only the main Sass file needs front matter (the dashes are enough)
---

$intro-transition  : none;
$global-transition : none;

//$body-color:
//$background-color:
//$text-color: red;
//$link-color:
$masthead-link-color: purple;
// between masthead and content body
$border-color: purple;

table td {
	border: 1px solid grey;
}
@charset "utf-8";

// for some reason I needed to put this in manually.
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
